header.bsn-header {
  position: fixed;
  left: 15px;
  right: 15px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0.5rem;
  background-color: #fbf9f6;
  border-radius: 5px;

  .nav {
    @media only screen and (max-width: 768px) {
      display: none;
    }
    .nav__menu {
      li {
        &:last-child {
          border: 2px solid #5e936c;
          padding: 3px;
          border-radius: 5px;
        }
        a {
          height: 15px;
          vertical-align: middle;
          color: #000;
          margin: 0 0.5rem;
          display: inline-flex;
          font-size: 1rem;
          font-weight: 400;
          text-decoration: none;
          & > span {
            margin-left: 5px;
          }
        }
      }
    }
  }
  .head-right {
    display: flex;
    .btn-theme {
      display: flex;
      align-items: center;
      font-size: 15px;
    }
    .btn-wallet {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 15px;
    }
  }
}
