* {
  font-family: "proxima-nova", sans-serif;
  color: #000;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f9f3eb;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 100%;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

.nav-btn {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem 1.5rem;
  background: #5a8f69;
  color: #fff;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none !important;
}

.page {
  width: 100vw;
  height: calc(100vh - 80px);
}

.page .page-container {
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  position: relative;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
