* {
  font-family: "proxima-nova", sans-serif;
  color: #000;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f9f3eb;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 100%;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.nav-btn {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem 1.5rem;
  background: #5a8f69;
  color: #fff;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none !important;
}

.bee-btn {
  color: inherit;
  margin: 0px;
  display: inline-flex;
  padding: 0.9375rem;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.bee-btn.transparent {
  border: 0;
  background-color: transparent;
}
.bee-btn.transparent:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.04);
}

.page {
  width: 100vw;
  height: calc(100vh - 80px);
  z-index: 99;
}

.page .page-container {
  height: 100%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  position: relative;
}

.text-gray {
  color: rgba(195, 195, 195, 1);
}

/* Responsive */
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
