.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progress-bar {
  position: relative;
  width: 30px;
  height: 30px;
}

.circle {
  height: 100%;
  right: 0px;
  position: absolute;
  border: solid 5px #a9a9a9;
  border-top-color: rgba(247, 134, 28, 0.9);
  border-radius: 50%;
}

.border {
  width: 100%;
  transform: rotate(135deg);
  animation: spin 1.3s steps(2) 0.2s infinite;
  -webkit-animation: spin 1.3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
