/* Modal */
.modal-content {
  width: 100%;
  height: 100%;
  position: relative;
  .wallets-wrapper {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin: 0;
    padding: 0px;
    opacity: 1;
    text-align: center;
    visibility: visible;
    pointer-events: auto;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    min-width: fit-content;
    max-height: 100%;
    overflow: auto;
    border: none;
    height: 100%;
    @media screen and (max-width: 768px) {
      max-width: 800px;
      width: calc(100vw - 20px);
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: 1fr;
    }
    .wallet-box {
      width: 100%;
      height: 100%;
      padding: 24px 16px;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      border-radius: 0px;
      border: 1px solid rgba(195, 195, 195, 0.14);
      &:hover {
        background-color: rgba(195, 195, 195, 0.14);
      }
      img {
        width: 50px;
        height: auto;
      }
      p {
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        margin-top: 0.5em;
        color: rgb(12, 12, 13);
      }
      span {
        width: 100%;
        font-size: 18px;
        margin: 0.333em 0px;
        color: rgb(169, 169, 188);
      }
    }
  }
}

/* React Modal */
.ReactModal__Content--after-open {
  @media screen and (max-width: 768px) {
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 90% !important;
    overflow: scroll !important;
  }
}

.content-wrapper-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .connect-wallet-wrapper {
    color: #000;
    padding: 25px;
    text-align: center;
    margin-bottom: 25px;
    background-color: #f8f2ec;
    & > p {
      margin-bottom: 15px;
    }
  }
  .connect-smart {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    P {
      color: #000;
      padding: 12px;
      background: #f8f2ec;
      font-weight: 900;
      border-radius: 0;
      margin-bottom: 2rem;
    }
  }
  .network-select {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &__left {
      .select-wrapper {
        display: flex;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }
        .selected-network {
          display: flex;
          align-items: center;
          margin-left: 5px;
          div {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #5a8f69;
            margin-right: 5px;
          }
        }
      }
    }
    &__right {
      text-align: right;
    }
  }
  .filter-section {
    width: 100%;
    border: 1px solid rgba(195, 195, 195, 1);
    padding: 10px 15px;
    position: relative;
    .clear {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    &__box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      & > div {
        flex: 0 0 25%;
        margin: 0.7rem 0;
      }
      &__check {
        flex-wrap: wrap;
        & > div {
          &:last-child {
            display: flex;
            align-items: center;
            color: #699e77 !important;
          }
        }
        input[type='checkbox'] {
          margin-right: 10px;
          font-size: 1rem;
          line-height: 1.5;
          padding: 11px 23px;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 0;
          outline: 0;
          background-color: transparent;
        }
        .fire-icon {
          width: 40px;
          height: 40px;
        }
      }
      &__list {
        span.text-gray {
          color: rgba(195, 195, 195, 1);
        }
      }
    }
  }
  .main-content {
    flex: 0 0 75%;
  }
}

.vault-widget {
  border: 1px solid rgba(195, 195, 195, 1);
  margin: 0.5rem 0;
  position: relative;
  padding: 1rem 0;
  background-color: #f9f3eb;
  color: #000;
  .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: 23px;
    padding: 3px 5px;
    display: block;
    font-weight: 600;
    color: #fff;
    background-color: #699e77;
  }
  .widget-container {
    display: flex;
    align-items: center;
    .main-info {
      flex: 0 0 25%;
      display: flex;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;
      & div {
        padding: 0 10px;
      }
      &__icon {
        img {
          width: 50px;
          height: auto;
        }
      }
      &__detail {
        .boost-action {
          width: 108px;
          border: solid 2px #5a8f69;
          height: 32px;
          display: block;
          padding: 4px 26px 4px 6px;
          position: relative;
          white-space: nowrap;
          border-radius: 4px;
          img {
            vertical-align: middle;
            &.boost-fire-icon {
              height: 25px;
            }
          }
        }
      }
    }
    .wallet-stats {
      flex: 0 0 75%;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
        li {
          position: relative;
          font-size: 16px;
          color: #000;
          padding: 0.5rem 0.7rem;
          .sale-price {
            position: absolute;
            top: -10px;
            left: 10px;
            color: #2a9e46;
            pointer-events: none;
          }
          .original-price {
            text-decoration: line-through;
          }
          .info-icon-wrapped {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
