.dropdown {
  position: relative;
  width: 250px;
  background-color: #f9f3eb;
}

.dropdown-header {
  position: relative;
  padding: 15px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(195, 195, 195, 1);
}

.dropdown-body {
  padding: 5px;
  display: none;
  &.open {
    position: absolute;
    top: 48px;
    left: 0;
    display: block;
    border: 1px solid rgba(195, 195, 195, 1);
    background-color: #f9f3eb;
    width: 100%;
    z-index: 99;
  }
}

.dropdown-item {
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
}

.dropdown-item-dot {
  opacity: 0;
  color: #91a5be;
  transition: all 0.2s ease-in-out;
  &.selected {
    opacity: 1;
  }
}

.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
  &.open {
    transform: rotate(90deg);
  }
}
