.logo-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  img {
    width: 3.5rem;
    min-height: 1.5rem;
    margin-right: 1rem;
  }
  a {
    display: flex;
    justify-self: center;
    align-items: center;
    font-weight: 300;
    font-size: 1.75rem;
    margin-top: 0.4rem;
    text-decoration: none;
  }
}
